@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0px;
    padding: 0px;
}

main {
    max-width: 1440px;
    margin: 0px auto;
}

/* Shared Styles */
.primary-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* paragraphs with dark3 color and 16px fonts */
.primary-para {
    color: rgb(114, 114, 114);
    font-weight: 400;
    line-height: 1.3rem;
    letter-spacing: 0%;
}

/* Header texts with dark1 color and 45px fonts */
.primary-header {
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0%;
}

/* Orange color */
.primary-color {
    color: rgb(255, 144, 14);
}

/* button styles */
.primary-btn {
    background-color: rgb(255, 144, 14);
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 1.3rem 1.4rem;
    margin: 30px 0px 50px 0px;
}
/* display flex */
.navbar,
.nav-links,
.teams-container,
.features-container {
    display: flex;
}

/* Text Center */
.banner-header,
.banner-info,
.banner-button {
    text-align: center;
}
/* End of Shared styles */

/* Navbar Styles */
.header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 50px 20px 0px 20px;
}
.navbar {
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0px auto;
    margin-bottom: 100px;
}

.nav-links {
    gap: 50px;
}
/* Removing list styles from nav bar */
.link-items {
    list-style: none;
}

/* Adding styles to the navbar links(anchors) */
.link-item-name {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
}

/* Banner Section Styles inside header */
.banner {
    max-width: 1440px;
    padding-bottom: 45px;
    margin: 0px auto;
    /* margin-bottom: 85px; */
}

.banner-contents {
    max-width: 860px;
    margin: 0px auto;
}
.banner-header {
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 30px;
}

.banner img {
    width: 100%;
}
/* End of Banner Styles */

/* Teams section styles */
.teams-container {
    margin-top: 80px;
    padding: 60px;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}

.teams-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#teams-header-ash {
    font-weight: 500;
    color: rgb(114, 114, 114);
}

#teams-header-orange {
    color: rgb(255, 144, 14);
}

.teams-description {
    margin-top: 24px;
}

/* End of Teams Section Styles */
/* --------- */
/* Feature Section Styles */
.features-container {
    margin-top: 130px;
    gap: 145px;
}
.feature-header {
    margin-bottom: 24px;
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 10px;
}
.feature-info {
    margin-bottom: 30px;
}

.feature-card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.feature-card-title {
    color: rgb(19, 19, 19);
    font-size: 20px;
    font-weight: 600;
}

.feature-button {
    margin-left: -100px;
    margin-top: -200px;
}
#feature-btn {
    padding: 45px 42px;
}

#feature-btn-years {
    font-weight: 700;
    font-size: 4rem;
}

.feature-btn-exp {
    font-weight: 500;
    font-size: 1.5rem;
}

/* Responsive Media queries for mobile devices */
@media screen and (max-width: 576px) {
    /* Header section */
    .navbar,
    .nav-links,
    .teams-container,
    .features-container {
        flex-direction: column;
    }
    .header {
        padding: 20px;
    }

    /* Teams section */
    .teams-container {
        flex-direction: column;
        padding: 20px;
    }

    .teams-images {
        grid-template-columns: 1fr;
    }

    /* Features Section */
    .features-container {
        gap: 20px;
    }
    .feature-image img {
        width: 100%;
    }
    .feature-button {
        margin: 0px;
        margin-left: 30px;
    }
}

/* Media queries for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar,
    .nav-links,
    .teams-container,
    .features-container {
        flex-direction: column;
    }

    .teams-contents {
        margin: 0 100px;
    }
    .teams-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .teams-images img {
        width: 40%;
    }

    /* Feature section */
    .features-container {
        padding: 10px;
        border: 5px solid salmon;
        gap: 20px;
    }
    .feature-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        justify-items: center;
    }
    .feature-card {
        width: 300px;
        height: 150px;
    }
    .feature-image img {
        width: 100%;
    }
    .feature-button {
        margin: 0px 10px;
    }
}
